body {
    background-color: lightgrey;
}

h1 {
    color: navy;
}

h2 {
    font-size: 18px
}
img {
    max-width: 100%;
    border: 2px solid black;
    margin: 5px 5px 5px 5px;
}

.navbar {
    background-color: lightblue;
    color: black;
}

.dropdown {
    background-color: teal;
    color: black;
}

.btn {
    background-color: lightblue;
    border-color: lightblue;
    color: black;
}

li {
    color: black
}

.row {
    background-color: white;
}